@import "home.css";
@import "registration.css";
@import "dashboard.css";

:root {
    
    --font-heading: 'Lexend';
    --font-body: 'Overpass Mono';

    --black: #111111;
    --white: #F2F4F7;
    --orange: #FF6500;
    --blue: #105681;

}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



body {
    font-family: var(--font-body);
}

.font-heading {
    font-size: 2.25rem;
    font-family: var(--font-heading);
    font-weight: 500;
}

.font-sub_heading {
    font-family: var(--font-body);

}


.subtitle{
    font-family: var(--font-body);

}

.attendance-middle {
    max-height: 850px;
    overflow: hidden;
}

.p-datatable-table {
    margin-top: 1em;
    font-family: var(--font-heading);
    border-radius: 30px;
    font-size: 0.85rem;
    background-color: var(--white);
    padding-left: 1em;
}

.p-datatable-td {
    padding-top: 1em;
}

.p-datatable-column-header-content {
    padding-top: 15px;
    padding-bottom: 15px;
    color: #B5B7C0;
    font-size: 0.85rem;
    background-color: var(--white);

}



.p-datatable .p-datatable-tbody > tr > td {
    padding-top: 20px;
    padding-bottom: 20px;
    color: #292D32;
    background-color: var(--white);
    border-bottom: 1px solid rgba(105, 105, 105, 0.244)
}

.status-button {
    display: inline-block;
    padding: 6px 12px;
    border-radius: 4px;
    font-weight: bold;
    text-align: center;
    min-width: 60px;
    color: white;
    
}


.status-in {
    background-color: rgba(22, 192, 152, 0.489); 
    color: #008767;
    border: 1px solid #008767;
    font-weight: 500;
}

.status-out {
    background-color: #FFC5C5; 
    border: 1px solid #DF0404;
    color: #DF0404;
}

.p-paginator {
    background-color: var(--white);
    padding-top: 3em;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-right: 1.5em;
    padding-bottom: 1em;
}

.data-btns {
    color: var(--black);   
}

.data-btns:hover {
    background-color: rgba(129, 129, 129, 0.181);   
}
.data-btns:active {
    background-color: rgba(129, 129, 129, 0.181);   
}

/* HTML: <div class="loader"></div> */
/* HTML: <div class="loader"></div> */
.loader {
    width: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: 
      radial-gradient(farthest-side,var(--orange) 94%,#0000) top/8px 8px no-repeat,
      conic-gradient(#0000 30%,var(--orange));
    -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 8px),#000 0);
    animation: l13 1s infinite linear;
}

@keyframes l13{ 
100%{transform: rotate(1turn)}
}


.p-floatlabel .p-inputtext {
    width: 100%;
    height: 50px;
    border: 1px solid black;
    border-radius: 5px;
    font-family: var(--font-heading);
    padding-left: 0.75em;
    
}

.p-floatlabel {
    font-family: var(--font-heading);
    font-weight: 200;
    color: orange;
}

.p-select {
    width: 100%;
    height: 50px;
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    align-items: center;
    font-family: var(--font-heading);

    padding-left: 0.75em;
}


/* RESPONSIVE */
.container {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    max-width: 400px;
}




.secondary-btn {
    background-color: white;
    color: black;
    border: 1px solid black;
}

.btn-in {
    background-color: #A6E7D8;
    color: #008767; 
    border-color: #008767;
}

.btn-out {
    background-color: #ffd2b5;
    color: #ff6600; 
    border-color: #FF6500;
}

/* Components */
.p-button{
    /* border: none; */
    font-family: var(--font-heading);
    padding: 0.5em;
    border-radius: 5px;
}


.p-drawer {
    font-family: var(--font-heading);
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 1em;
    height: 550px;
}


/* END OF COMPONENTS */


.cta-btn {
    background-color: var(--black);
    color: var(--white);
    border: none;
}

.close-btn_qrpage {
    width: 2rem;
    height: 30px;
    position: absolute;
    background-color: transparent; 
    color: black;
    left: 0;
    top: -35px;
    border: none;
}


.pi-times {
    font-size: 1.35rem;
}


/* QR Code Page */

.qr-page {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

.qr-page_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5em;
    text-align: center;
    position: relative;
    margin-top: 3.5em;
}


.qr-container {

    width: 100%;
    max-width: 300px;
    height: 250px;
    border: 1px solid black;
    border-radius: 5px;
    /* padding: 1em; */
    position: relative;
}

.qr-page_buttons {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.85em;
    margin-top: 2.5em;
    position: relative;
}



.scan-list {
    display: flex;
    flex-direction: column;
    gap: 0.3em;
    margin-bottom: 1em;
    padding-bottom: 0.8em;
    border-bottom: 1px solid black;
}

.scan-list .list-top {
    display: flex;
    justify-content: space-between;
    font-size: 0.9rem;
    font-weight: 500;
}

.scan-list .list-bottom {
    display: flex;
    justify-content: space-between;
    font-family: var(--font-body);
    font-size: 0.8rem;
}

.qr-counter {
    display: flex;             
    justify-content: center;  
    align-items: center;   
    background-color: var(--black);
    color: var(--white);
    width: 45px;
    height: 45px;
    border-radius: 50%;
    font-size: 1rem;
    position: absolute;
    bottom: 0;

    bottom: -2.9em;       
    left: 50%;            
    transform: translate(-50%, -50%);
}

.drawer_list-scannedData {
    margin-top: 2em;
    max-height: 300px;
    height: 100%;
    overflow-y: scroll;
    flex: 1;
}

.drawer_list-scannedData::-webkit-scrollbar {
    width: 5px; 

}

.drawer_list-scannedData::-webkit-scrollbar-thumb {
    background-color: #888; 
    border-radius: 10px; 
}

.drawer-btns {
    display: flex;  
    flex-direction: column;
    gap: 0.65em;
    padding-bottom: 1.5em;
    margin-top: 1em;
    
}

.drawer-btns .secondary-btn {
    border: 1px solid black;
}

.drawer-btns .cta-btn {
    border: 1px solid black;
}

.qr-page-error {
    font-size: 0.8rem;
    color: rgb(206, 28, 28);
    position: absolute;

    top: 0;
    left: 50%;            
    transform: translate(-50%, -50%);
}

@media (min-width: 1000px) {
    .home_page-header .background-img {
        padding-top: 0em;
        height: 1000px;
    } 
    .home_page-header p {
        position: absolute;
        bottom: 20em;
        color: rgba(190, 190, 190, 0.693);
        font-size: 0.8rem;
        
        max-width: 200px;
        text-align: center;
        font-weight: 100;
        position: absolute;
     
        left: 50%;
        transform: translate(-50%, -50%);
    } 
}

@media (min-width: 900px) {
    .home_page-header {
        min-height: 1000px;
        
    }
    .home_page-header .background-img {
        padding-top: 5em;
        height: 1200px;
    } 
    .home_page-header p {
        position: absolute;
        bottom: 20em;
        color: rgba(190, 190, 190, 0.693);
        font-size: 0.8rem;
        
        max-width: 200px;
        text-align: center;
        font-weight: 100;
        position: absolute;
     
        left: 50%;
        transform: translate(-50%, -50%);
        animation: fadeIn 6s forwards;
    } 
    
    .tools_container {
        max-width: 1200px;
    }
    .home_page-tools img {
        width: 350px;
        height: 350px;
        position: absolute;
        top: 50px;
        left: 40px;
       
        animation: rotate 20s linear infinite;
        transform-origin: center; /* Center the rotation */
        
    }

    .home_page-timeline {
        max-width: 900px;
        margin-right: auto;
        margin-left: auto;
        overflow: hidden;
    }

    .timeline_container {
        max-width: 700px;
    }

    .planet {
        height: 250px;
        width: 250px;
    }

    .planets .uranus {
        right: 150px;
        top: 0px;
        transform: rotate(-20deg);

        /* transition: transform 0.3s ease, box-shadow 0.3s ease;  */
        animation: floatOne 5s infinite alternate; 
    }

    .planets .venus {
        right: 150px;
        top: 200px;   
        animation: floatTwo 7s ease-in-out infinite;

    }

    .planets .neptune {
        right: 150px;
        top: 400px;
        animation: floatThree 7s ease-in-out infinite;

    }

    .timeline-top h1 {
        font-family: var(--font-heading);
        font-size: 3.5rem;
    }

    .timeline-top  p{
        font-size: 1rem;
    }

    .home_page-about {
        min-height: 1500px;
        background-color: black;
        position: relative;
        overflow: hidden;
        color: white;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top ;
    }

    .about-container {
        max-width: 1200px;
    }

    .about-top h1 {
        font-size: 3.5rem;
    }
    .about-p h3 {
        font-size: 1.75rem;
    }

    .about-p p {
        font-size: 0.75rem;
        max-width: 500px;
    }

    .about-bottom {
        gap: 2.5em;
        margin-top: 2.75em;
    }
   
}

@keyframes fadeIn {
    from {
        opacity: 0;
        color: #444444;
    }
    to {
        opacity: 1;
        color: #ffffff;
    }
  }

@keyframes rotate {
    from {
        transform: translate(-50%, -50%) rotate(0deg);    }
    to {
        transform: translate(-50%, -50%) rotate(360deg);     }
}
@keyframes floatOne {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0);
    }
}
@keyframes floatTwo {
    0% {
        transform: translateY(-100px);
    }
    50% {
        transform: translateY(20px);
        transform: rotate(-20deg);

    }
    100% {
        transform: translateY(-100px);
    }
}
@keyframes floatThree {
    0% {
        transform: translateY(-250px);
        
    }
    50% {
        transform: translateY(20px);
        transform: rotate(20deg);

    }
    100% {
        transform: translateY(-250px);

    }
}
@keyframes hover2 {
    0% {
        transform: translateY(0); 
    }
    100% {
        transform: translateY(-50px); 
    }
}

@keyframes float {
    0% {
        transform: translateY(0);
        transform: rotate(-20deg);
    }
    50% {
        transform: translateY(-20px); 
    }
    100% {
        transform: translateY(0);
        transform: rotate(-20deg); 
    }
}