
:root {
    
    --font-heading: 'Lexend';
    --font-body: 'Overpass Mono';

    --black: #111111;
    --white: #F2F4F7;
    --orange: #FF6500;
    --blue: #105681;

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-body);
}

.font-heading {
    font-size: 2.25rem;
    font-family: var(--font-heading);
    font-weight: 500;
}

.font-sub_heading {
    font-family: var(--font-body);

}


.secondary-btn {
    background-color: white;
    color: black;
    border: 1px solid black;
}

.btn-in {
    background-color: #A6E7D8;
    color: #008767; 
    border-color: #008767;
}

.btn-out {
    background-color: #ffd2b5;
    color: #ff6600; 
    border-color: #FF6500;
}

/* Components */
.p-button{
    /* border: none; */
    font-family: var(--font-heading);
    padding: 0.5em;
    border-radius: 5px;
}


.p-drawer {
    font-family: var(--font-heading);
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 1em;
    height: 550px;
}


/* END OF COMPONENTS */


.cta-btn {
    background-color: var(--black);
    color: var(--white);
    border: none;
}

.close-btn_qrpage {
    width: 2rem;
    height: 30px;
    position: absolute;
    background-color: transparent; 
    color: black;
    left: 0;
    top: -35px;
    border: none;
}


.pi-times {
    font-size: 1.35rem;
}


/* QR Code Page */

.qr-page {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

.container {
    margin-left: auto;
    margin-right: auto;
    max-width: 400px;
    padding: 1em;
}

.qr-page_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5em;
    text-align: center;
    position: relative;
    margin-top: 3.5em;
}


.qr-container {

    width: 100%;
    max-width: 300px;
    height: 250px;
    border: 1px solid black;
    border-radius: 5px;
    /* padding: 1em; */
    position: relative;
}

.qr-page_buttons {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.85em;
    margin-top: 2.5em;
    position: relative;
}



.scan-list {
    display: flex;
    flex-direction: column;
    gap: 0.3em;
    margin-bottom: 1em;
    padding-bottom: 0.8em;
    border-bottom: 1px solid black;
}

.scan-list .list-top {
    display: flex;
    justify-content: space-between;
    font-size: 0.9rem;
    font-weight: 500;
}

.scan-list .list-bottom {
    display: flex;
    justify-content: space-between;
    font-family: var(--font-body);
    font-size: 0.8rem;
}

.qr-counter {
    display: flex;             
    justify-content: center;  
    align-items: center;   
    background-color: var(--black);
    color: var(--white);
    width: 45px;
    height: 45px;
    border-radius: 50%;
    font-size: 1rem;
    position: absolute;
    bottom: 0;

    bottom: -2.9em;       
    left: 50%;            
    transform: translate(-50%, -50%);
}

.drawer_list-scannedData {
    margin-top: 2em;
    max-height: 300px;
    height: 100%;
    overflow-y: scroll;
    flex: 1;
}

.drawer_list-scannedData::-webkit-scrollbar {
    width: 5px; 

}

.drawer_list-scannedData::-webkit-scrollbar-thumb {
    background-color: #888; 
    border-radius: 10px; 
}

.drawer-btns {
    display: flex;  
    flex-direction: column;
    gap: 0.65em;
    padding-bottom: 1.5em;
    margin-top: 1em;
    
}

.drawer-btns .secondary-btn {
    border: 1px solid black;
}

.drawer-btns .cta-btn {
    border: 1px solid black;
}

.qr-page-error {
    font-size: 0.8rem;
    color: rgb(206, 28, 28);
    position: absolute;

    top: 0;
    left: 50%;            
    transform: translate(-50%, -50%);
}